@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Outfit', 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #1a0b2e;
  color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: red !important;
}